@import "../variables/variables";
@import "../abstracts/mixin";
@import "../abstracts/map";

.cajaContacto{
    display: flex;
    justify-content: center;
    max-width: 100%;
}

.contacto{
    background-color: $color-primary;
    padding: 40px;
    border-radius: 20px;
    margin: 20px;
    margin-bottom: 40px;
}

.form-check-label a {
    color: $color-secondary;
}

.btn {
    color: $color-secondary;
}